.bgImg {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;

}

.homeScreen{
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50vh
}

.button{
    background-color: rgb(52, 111, 42);
    border: 2px solid black;
    border-radius: 15px;
    font-size: 1.25rem;      
    padding: 0.75em 1.5em; 
}

button:hover{
    background-color: rgb(110, 243, 172);
    transform: translateY(-2px);
}

.blackBox{
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-bottom: 1rem;
    z-index: -50;
    border-radius: 15px;
    height: 250px;
    width: 400px;
}