.inventoryOverlay{
    width: 75vw;
    height: 17vh;
    z-index: 1000;
    margin-left: 12.5vw;

}                        
                        

.inventoryStorage   {
    display: flex;
    flex-direction: row;
    
    overflow-x: scroll;
    height: 100%;
    width: 100%;
    align-content: start;
    
    background-color: white;

}

.item{
    border: 2px solid black ;
    border-radius: 1rem;
    min-width: 10vh;
    width: 10vh;
    height: 10vh;
    padding: 1vh;
    margin: 1vh;
    text-align: center;
    background-color: orange;
}

.craftingMenu{
    display: flex;
    width: 40%;
    background-color: blueviolet;   
}