.bgImg {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
}

.gameContainer{
    display: flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 5vh;
    margin-right: 5vw;
    margin-bottom: 5vh;
    
    padding-left: 0vw;
    padding-top: 0vh;
    padding-right: 0vw;
    padding-bottom: 0vh;
}

.subContainer{
    display: flex;
 
}

.interactBox{
    background-color: brown;
    border: 2px solid black;


    height: 75vh;
    width: 80vw;
}

.statBox{
    background-color: yellowgreen;
    border: 2px solid green;

    height: 75vh;
    width: 10vw;
}

.buttonBox{
    background-color: tomato;
    border: 2px solid red;

    height: 15vh;
}