.bgImg {
    height: 100vh;
    width: 100vw;
}

.interactBox{
    background-color: rgb(91, 42, 165);
    border: 2px solid black;
    position: fixed;
    bottom: 17vh;
    margin-left: 12.5vw;
    height: 83vh;
    width: 75vw;
}

.buttonBox{
    background-color: tomato;
    border: 2px solid red;
    height: 17vh;
    width: 100vw;
    position: fixed;
    bottom: 0;
    left: 0;
}