.bgImg {
    position: fixed;
    z-index: -100;
    top: 0;
    left: 0;
}

.interactBox{
    background-color: brown;
    border: 2px solid black;
    margin-top: 4rem;
    margin-left: 4rem;
    height: 40rem;
    width: 85rem;
}

.statBox{
    background-color: yellowgreen;
    border: 2px solid green;
    position: absolute;
    margin-right: 4rem;
    margin-left: 89.2rem;
    height: 40rem;
    width: 20rem;
}

.buttonBox{
    background-color: tomato;
    border: 2px solid red;
    position: relative;
    margin-left: 4rem;
    margin-right: 4rem;
    height: 10rem;
    width: 105.2rem;
}